#root{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 350px;
}

main{
    flex-grow: 1;
}

header{
    position: fixed;
    width: 100%;
    z-index: 9;
    height: 108rem;
}
.scroll--smooth{
    scroll-behavior: smooth;
}
.scroll--mandatory{
    scroll-snap-type: x mandatory;
}
.gap10{
    display: flex;
    gap: 10rem;
}

@media (min-width: 650px) {
    header{
        height: 172rem;
    }   
}