


@font-face {
    font-family: 'Vogue';
    src: url('./fonts/Vogue-Regular.woff2') format('woff2'),
        url('./fonts/Vogue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Myriad Pro';
    src: url('./fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('./fonts/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Innova';
    src: url('./fonts/Innova-Light.woff2') format('woff2'),
        url('./fonts/Innova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Abnormal';
    src: url('./fonts/Abnormal-Light.woff2') format('woff2'),
        url('./fonts/Abnormal-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: 'Selfie';
    src: url('./fonts/Selfie-Light.woff2') format('woff2'),
        url('./fonts/Selfie-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }
  
  
  