

@font-face {
    font-family: 'Vogue';
    src: url('Vogue-Regular.woff2') format('woff2'),
        url('Vogue-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('MyriadPro-Regular.woff2') format('woff2'),
        url('MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Innova';
    src: url('Innova-Light.woff2') format('woff2'),
        url('Innova-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Abnormal';
    src: url('Abnormal-Light.woff2') format('woff2'),
        url('Abnormal-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Selfie';
    src: url('Selfie-Light.woff2') format('woff2'),
        url('Selfie-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

